
$primary-color:#02C543;

$secundary-color-dark:#191a1f;
$text-color-dark:#FFFF;
$bg-color-dark: #01040F;

$secundary-color-light:#f1f1f1;
$text-color-light:#191a1f;
$bg-color-light: #bbbbbb;


@mixin light(){
  --text-color: #{$text-color-light};
  --primary-color: #{$primary-color};
  --secundary-color: #{$secundary-color-light};
  --bg-color: #{$bg-color-light};
};

@mixin dark(){
  --text-color: #{$text-color-dark};
  --primary-color: #{$primary-color};
  --secundary-color: #{$secundary-color-dark};
  --bg-color: #{$bg-color-dark};
}

@mixin div {
  width: 380px;
  height: 60px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin profile-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: var(--text-color);
}
