@use "../../../sass/styles-component.scss" as *;

.background {
  width: 100vw;
  height: 100vh;
  background-color: var(--secundary-color);

  .content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .card {
      width: 400px;
      height: 35.4rem;
      border-radius: 8px;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      .img {
        width: 200px;
        height: 200px;

      }

      h3 {
        color: var(--text-color);
        font-size: 25px;
        font-weight: 400;
      }

      .button-social {
        @include div;

        background-color: var(--bg-social-button);
        .items {
          gap: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: var(--text-color);
          width: 240px;
          .icon {
            width: 30px;
            height: 30px;
          }
          p{
            font-size: 15px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }

      .divider {
        display: flex;
        flex-direction: row;
        align-items: inherit;
        gap: 0.5rem;
        color: var(--text-color);
        .line {
          width: 170px;
          height: 1px;
          background-color: var(--text-color);
          opacity: 0.5;
        }
      }

      .button-create-account{
        width: 380px;
        height: 80px;
        background-color: var(--primary-color);
        border-radius: 50px;
        color: #fff;

        display: flex;
        flex-direction: row;
       align-items: center;
       justify-content: center;
        transition: background-color 0.5s ease-in-out;
       &:hover{
        cursor: pointer;
        background-color: #2B964F;
       }
      }
    }
  }
}


.form-register{
  width: 400px;
  height: 400px;
  background-color: #2B964F;
  border-radius: 5px;
  background-color: var(--secundary-color);
  color: var(--text-color);

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    margin: 1rem;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 400;
  }
  .divider{
    border-bottom: 0.1rem solid var(--text-color);
    width: 98%;
    color: var(--text-color);
    box-sizing: border-box;
    opacity: 0.5;
  }
}

