<app-theme-mode></app-theme-mode>
<div class="background">
      <div class="content">
        <div class="card">
          <img src="assets/images/img_login.png" alt="_img_login" class="img" >
          <h3>Entrar</h3>

          <div class="button-social" (click)="loginGoogle()">
            <div class="items">
              <img src="assets/icons/google.png" alt="google_icon" class="icon">
              <p>Conectar com Google</p>
            </div>
          </div>
          <div class="divider">
            <div class="line"></div>
            <span>ou</span>
            <div class="line"></div>
          </div>
          <div class="button-create-account" (click)="openDialog()">
            <p>Entre com um E-mail de contato</p>
          </div>
        </div>
      </div>
</div>


<ng-template #templateRegister>
  <form [formGroup]="form" class="form-register" (ngSubmit)="createUser()">
    <img src="assets/images/img_register.png" alt="_img_login" class="img" >
    <h3>Criar nova conta</h3>
    <div class="inputs">
      <app-input  placeholder="Nome completo" srcIcon="assets/icons/user.png" formControlName="nome"></app-input>
      <app-input placeholder="E-mail" srcIcon="assets/icons/email.png" formControlName="email"></app-input>
    </div>
    <div class="container-button">
      <button [disabled]="form.invalid">Inscrever-se</button>
    </div>
  </form>
</ng-template>
